{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}{% endblock %}
			- Hackathon Amadeus</title>
		<meta name="author" content="Groupe13">
		<link rel="canonical" href="{{request.path}}"/>
		<link rel="home" href="{% url 'home' %}"/>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">

		<!-- ==========Start Scripts========== -->

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		{% block extend_header%}{%endblock%}

		<!-- ==========End Scripts========== -->

	</head>
	<body>
		<!-- ==========Start Navigation Bar========== -->
		{% include 'main/partials/nav.html' %}
		<!-- ==========End Navigation Bar========== -->

		<!-- ==========Start Content========== -->
		{% block content %}{% endblock %}
		<!-- ==========End Content========== -->

		<!-- ==========Start Footer========== -->
		{% include 'main/partials/footer.html' %}
		<!-- ==========End Footer========== -->

		<!-- ==========Start Scripts========== -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
		{% block extend_footer %}{%endblock%}

		<!-- ==========End Scripts========== -->

	</body>
</html>
